Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

fix(vite): git-version-watch через polling вместо file-watch
  vite.config.ts
Owners: @admin-username, @frontend-team

fix(accounts): глобальная сортировка по всему датасету + must-sort
  src/components/Accounts/AccountsTable.vue
  src/composables/useMergedAccounts.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

ui(accounts): выравнивание иконок Действия для Axenta строк
  src/components/Accounts/AccountsTable.vue
Owners: @frontend-team, @ui-team

ui(accounts): иконки вместо текста в колонке Тип
  src/components/Accounts/AccountsTable.vue
Owners: @frontend-team, @ui-team

ui(accounts): убрать колонку ID, popup перенесён на ховер компании
  src/components/Accounts/AccountsTable.vue
Owners: @frontend-team, @ui-team

ui(accounts): auto-width колонки, left-align компании, фильтр родителя только direct-child
  src/components/Accounts/AccountsTable.vue
  src/composables/useAccountsList.ts
  src/composables/useMergedAccounts.ts
Owners: @frontend-team, @ui-team

fix(accounts): Wialon Dexie-кэш не показывал удалённые на F5
  src/services/wialonCacheService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(version): footer формата MAJOR.{backend}.{frontend}
  src/components/Layout/AppLayout.vue
  src/composables/useAppVersion.ts
  src/views/LoginPage.vue
Owners: @frontend-team, @ui-team

perf(accounts): getAccountsStats — один запрос /accounts/stats вместо 4 параллельных
  src/services/accountsService.ts
Owners: @frontend-team, @backend-team

fix(accounts): /api префикс в getAccountsStats — стат-карточка Axenta была 0
  src/services/accountsService.ts
Owners: @frontend-team, @backend-team

perf(accounts): параллельная пагинация + убрать дубль /axenta/status
  src/components/Layout/AppLayout.vue
  src/composables/useAccountsList.ts
Owners: @frontend-team, @ui-team

refactor(users): разбиение Users.vue 2069 → 366 строк (-82%)
  src/components/Users/UsersFilters.vue
  src/components/Users/UsersStats.vue
  src/components/Users/UsersTable.vue
  src/composables/useUserActions.ts
  src/composables/useUserAvatar.ts
  src/composables/useUsersList.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team

feat(users): UI — auto-width колонки + must-sort + col-fit/col-grow
  src/components/Users/UsersTable.vue
Owners: @frontend-team, @ui-team

chore(build): prod-build стрипит console.log/debug/info, оставляет error/warn
  vite.config.ts
Owners: @admin-username, @frontend-team

feat(users): убрать колонку ID из таблицы
  src/components/Users/UsersTable.vue
Owners: @frontend-team, @ui-team

fix(users): пагинация в стиле /accounts + mobile-адаптация + drawer init на mobile
  src/components/Layout/AppLayout.vue
  src/components/Users/UsersTable.vue
  src/composables/useUsersList.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team

fix(users): горизонтальный overflow в Chrome
  src/components/Users/UsersFilters.vue
  src/components/Users/UsersTable.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

fix(users): таблица помещается в viewport — wrap для длинных колонок
  src/components/Users/UsersTable.vue
Owners: @frontend-team, @ui-team

feat(users): FAB-кнопка + чистка таблицы + reactive sort
  src/components/Users/UserViewDialog.vue
  src/components/Users/UsersFilters.vue
  src/components/Users/UsersTable.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

feat(users): создание пользователя — мульти-система (Axenta/WH/WL)
  src/components/Users/UsersTable.vue
  src/composables/useUserAvatar.ts
  src/services/settings/wialon.ts
  src/services/settingsService.ts
  src/views/CreateUser.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(users): persistance фильтров + KPI tooltip с разбивкой WL/WH/Axenta
  src/components/Users/UsersStats.vue
  src/composables/useUsersList.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team

feat(users): edit и refresh wialon-юзера в карточке + адаптер shape
  src/components/Users/UserViewDialog.vue
  src/components/Users/WialonUserEditDialog.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

feat(accounts): свойства аккаунта — карточки Wialon (9 табов) + Axenta
  src/components/Accounts/AccountsTable.vue
  src/components/Accounts/AxentaAccountEditDialog.vue
  src/components/Accounts/WialonAccountEditDialog.vue
  src/components/Accounts/wialon-tabs/AccessTab.vue
  src/components/Accounts/wialon-tabs/CustomFieldsTab.vue
  src/components/Accounts/wialon-tabs/ExtraTab.vue
  src/components/Accounts/wialon-tabs/HistoryTab.vue
  src/components/Accounts/wialon-tabs/ServicesTab.vue
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix(accounts): фикс размера диалогов + платёж в "Основное"
  src/components/Accounts/AxentaAccountEditDialog.vue
  src/components/Accounts/WialonAccountEditDialog.vue
Owners: @frontend-team, @ui-team

fix(accounts): BigInt literals 0n → BigInt(0) для es2015 target
  src/components/Accounts/wialon-tabs/AccessTab.vue
Owners: @frontend-team, @ui-team

feat(dashboard): combined Axenta+WH+WL KPI + кликабельный donut
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

refactor(objects): удалить дублирующий header страницы
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): переключить Objects.vue на /unified/objects
  src/services/objectsService.ts
  src/views/Objects.vue
Owners: @frontend-team, @backend-team, @ui-team

refactor(objects): выделить ScheduleDeleteDialog и CreateTemplateDialog
  src/components/Objects/CreateTemplateDialog.vue
  src/components/Objects/ScheduleDeleteDialog.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

chore(objects): убрать моки loadContracts/loadLocations + лишние debug логи
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): убрать колонку ID из таблицы
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

fix(objects): v-data-table → v-data-table-server для server-side сортировки
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): toolbar redesign — поиск+фильтры+toggle в одной линии
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): редизайн таблицы — иконки/компактные заголовки
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): пагинация /accounts-стиль + persist + sort by createdAt
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): переименовать колонки + перестановка + удалить Создатель
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

chore(objects): bump persist key v1→v2 для сброса старого ordering
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

feat(dashboard): query-params forwarding из KPI на /objects и /accounts
  src/views/AccountsPage.vue
  src/views/Dashboard.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

chore(logger): убрать console.log spam из ObjectsService, ввести dev-only logger
  src/services/objectsService.ts
  src/utils/logger.ts
Owners: @frontend-team, @backend-team

feat(events): cross-section event bus для инвалидации кэша между разделами
  src/utils/crossSectionBus.ts
  src/views/AccountsPage.vue
  src/views/Dashboard.vue
  src/views/Objects.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team
