Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

feat(accounts): clickable счётчик объектов в строке аккаунта → /objects
  src/components/Accounts/AccountsTable.vue
Owners: @frontend-team, @ui-team

feat(objects): persist всех фильтров через F5
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

chore(users): adaptUserForView читает оба формата UnifiedUser DTO
  src/views/Users.vue
Owners: @frontend-team, @ui-team

fix(accounts): toggle status — через backend proxy + emit cross-section
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

fix(accounts): invalidateCache после toggle status
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix(accounts): loadAccounts(true) после toggle status
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

feat(accounts): кнопка manual refresh для axenta-строк
  src/components/Accounts/AccountsTable.vue
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team, @backend-team

fix(accounts): авто-обновление статуса после toggle, убрать кнопку refresh для Axenta
  src/components/Accounts/AccountsTable.vue
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team, @backend-team

refactor(accounts): switch на /unified/accounts, убрать двойную пагинацию
  src/composables/useAccountsList.ts
  src/composables/useMergedAccounts.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

fix(accounts): lazy-load objects-stats для WH/WL после switch на /unified
  src/composables/useWialonAccounts.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix(accounts): выравнивание actions-row для axenta-строк
  src/components/Accounts/AccountsTable.vue
Owners: @frontend-team, @ui-team

refactor(objects): Step 1 — extract в 6 composables, Objects.vue 2933→1873
  src/composables/useObjectsCRUD.ts
  src/composables/useObjectsExport.ts
  src/composables/useObjectsFilters.ts
  src/composables/useObjectsList.ts
  src/composables/useObjectsLookups.ts
  src/composables/useObjectsSelection.ts
  src/utils/objectsHelpers.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

refactor(objects): Step 2 — sub-components Objects.vue 1873→1302
  src/components/Objects/ObjectFormDialog.vue
  src/components/Objects/ObjectViewDialog.vue
  src/components/Objects/ObjectsFiltersBar.vue
  src/components/Objects/ObjectsTable.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

feat(dashboard): редизайн графика — sparkline-карточки + drilldown + history-toggle
  src/components/Dashboard/ChartDrilldownDialog.vue
  src/components/Settings/WialonHistorySettings.vue
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(dashboard): live данные «Топ-контракты» + переключатель периода
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(dashboard): виджет «Прирост объектов» — created/deleted с sparkline
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

revert(dashboard): убран виджет «Топ-контракты по выручке»
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

refactor(layout): глобальный поиск из Dashboard в шапку AppLayout
  src/components/GlobalSearch.vue
  src/components/Layout/AppLayout.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

fix(global-search): dropdown через Teleport — выходит за пределы app-bar
  src/components/GlobalSearch.vue
Owners: @frontend-team, @ui-team

ui(dashboard): сегментированный switcher периода в виджете «Прирост»
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(settings): добавлена SKIF.PRO в список интеграций (placeholder)
  src/components/Settings/IntegrationsSettings.vue
Owners: @frontend-team, @ui-team

feat(skif): frontend edit-dialog подключений (multi-connection как Wialon)
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/SkifConnectionsSettings.vue
  src/services/skifService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(skif): UI type SkifUnit.skif_unit_id: number → string (UUID)
  src/services/skifService.ts
Owners: @frontend-team, @backend-team

ui(dashboard): SKIF на дашборде, carousel sparks/lifecycle, краткие лейблы
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/SkifConnectionsSettings.vue
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team, @backend-team

ui(dashboard): чистка визуала — убраны legend и bottom-strip, sort DESC
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

feat(settings): «История данных» — общий раздел Wialon + SKIF backfill
  src/components/Settings/SkifHistoryBackfill.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

fix(dashboard): card "current" из sources-stats, не последняя точка sparkline
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

feat(dashboard): drilldown — created/deleted, разбивка по подключениям, Excel экспорт
  src/components/Dashboard/ChartDrilldownDialog.vue
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team, @backend-team

fix(drilldown): Δ в breakdown — live total минус первая ненулевая точка
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

feat(drilldown): expandable per-day breakdown + multi-line chart по подключениям
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

feat(drilldown): small multiples + estimated indicator
  src/components/Dashboard/ChartDrilldownDialog.vue
  src/services/dashboardKpiService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(drilldown): loader при подгрузке breakdown — без мерцания chart
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

fix(drilldown): day-by-day из source-detail (sum по connections)
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

fix(drilldown): KPI cards используют aligned history
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

fix(drilldown): big-chart использует aligned values
  src/components/Dashboard/ChartDrilldownDialog.vue
Owners: @frontend-team, @ui-team

feat(accounts): SKIF-аккаунты на /accounts — UI read+create+countdown
  src/components/Accounts/AccountsStats.vue
  src/components/Accounts/AccountsTable.vue
  src/components/Accounts/SkifAccountEditDialog.vue
  src/composables/useAccountsList.ts
  src/services/accountsService.ts
  src/services/skifAccountsService.ts
  src/views/AccountsPage.vue
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(skif): block/unblock actions в SkifAccountEditDialog
  src/components/Accounts/SkifAccountEditDialog.vue
  src/services/skifAccountsService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(accounts): защита от Invalid Date + реальный isBlocked SKIF
  src/components/Accounts/AccountsTable.vue
  src/components/Accounts/SkifAccountEditDialog.vue
Owners: @frontend-team, @ui-team

feat(accounts): SKIF subdealer registration в CreateAccountPage
  src/services/skifAccountsService.ts
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(users): SKIF в /users — фильтр, KPI breakdown, Edit/Delete/Create
  src/components/Users/SkifUserEditDialog.vue
  src/components/Users/UsersFilters.vue
  src/components/Users/UsersStats.vue
  src/composables/useUserActions.ts
  src/composables/useUserAvatar.ts
  src/composables/useUsersList.ts
  src/views/CreateUser.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
