Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

Логика назначения ролей пользователям
  AXENTA_ROLES_FRONTEND_README.md
  src/components/Users/AxentaRoleDialog.vue
  src/components/Users/AxentaRolesManagement.vue
  src/components/Users/LocalUserDialog.vue
  src/components/Users/SyncAxentaDialog.vue
  src/services/axentaUsersService.ts
  src/types/users.ts
  src/views/Users.vue
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

Логика отображения правильная (пользователя)
  src/services/usersService.ts
Owners: @frontend-team, @backend-team

/error-test для проверки всех исправлений
  ERROR_HANDLING_FIX_REPORT.md
  src/App.vue
  src/components/Common/GlobalNotifications.vue
  src/composables/useNotifications.ts
  src/main.ts
  src/router/index.ts
  src/services/api.ts
  src/utils/errorHandler.ts
  src/views/ErrorTestPage.vue
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

обновлен виджет "Обзор пользователей"
  USERS_WIDGET_SETUP.md
  USERS_WIDGET_UPDATE.md
  src/components/Dashboard/UsersOverviewWidget.vue
  src/services/dashboardService.ts
  src/services/usersService.ts
  src/types/dashboard.ts
  src/types/users.ts
  test-users-api.cjs
  test-users-api.js
  test-users-widget.html
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

feat: навигация и пользователь в header, убрано дублирование
  HEADER_BREADCRUMBS_IMPLEMENTATION.md
  src/components/Layout/AppLayout.vue
  src/views/AccountsPage.vue
Owners: @docs-team, @frontend-team, @ui-team

теперь счетчик берет верное кол-во пользователей
  src/views/Users.vue
Owners: @frontend-team, @ui-team

элементы фильтров имеют одинаковое скруглени
  src/views/Users.vue
Owners: @frontend-team, @ui-team

Исправил схему БД - добавил недостающие таблицы
  src/services/usersService.ts
  src/views/Users.vue
Owners: @frontend-team, @backend-team, @ui-team

убрал отдельную иконку отправки email из раздела "Пользователи"
  src/views/Users.vue
Owners: @frontend-team, @ui-team

Цвет аватара неактивных пользователей изменен!
  CREATION_DATETIME_ADDITION_REPORT.md
  CREATION_DATETIME_TEST_REPORT.md
  EMPTY_COLUMNS_FIX_REPORT.md
  PARSER_BLOCKING_SCRIPT_FIX.md
  PARSER_BLOCKING_VERIFICATION_REPORT.md
  VUE_PROP_TYPE_FIX.md
  index.html
  src/components/Common/UserAvatar.vue
  src/components/Layout/AppLayout.vue
  src/types/users.ts
  src/views/Users.vue
  test-parser-blocking.html
  vite.config.ts
Owners: @docs-team, @frontend-team, @ui-team, @admin-username

Поиск в Пользователях без создателя
  DATE_SORTING_ANALYSIS.md
  DATE_SORTING_DEBUG.md
  DATE_SORTING_FIX.md
  SORTING_TEST_REPORT.md
  src/components/Users/AxentaRolesManagement.vue
  src/services/usersService.ts
  src/views/Users.vue
  test-objects-form.html
  test_api_sorting.html
  test_date_sorting.html
  test_sorting.html
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

исправил проблему с генерацией инициалов в аватаре пользователя
  src/components/Common/UserAvatar.vue
Owners: @frontend-team, @ui-team

комплексное решение для проблемы с созданием таблиц в базе данных на продакшен
  ROLE_FILTER_FIX_REPORT.md
  ROLE_FILTER_ISSUE_REPORT.md
  USERS_FILTERS_TEST_REPORT.md
  check-console-errors.js
  debug-role-filter.html
  debug-users-filters.html
  src/services/usersService.ts
  src/views/Users.vue
  test-role-filter-simple.html
  test-users-filters.html
Owners: @docs-team, @frontend-team, @backend-team, @ui-team

в раздел "Управление объектами" добавлен вожет "В корзине"
  src/services/objectsService.ts
  src/views/Objects.vue
  vite.config.ts
Owners: @frontend-team, @backend-team, @ui-team, @admin-username

добавлненв функциональность отображения объектов в корзине при нажатии на виджет "В корзине" на дашборде и в разделе "Объекты"
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Objects/ObjectsTrashDialog.vue
  src/services/dashboardService.ts
  src/services/objectsService.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team, @backend-team

Добавлена функциональность массового выбора объектов в корзине
  src/components/Objects/ObjectsTrashDialog.vue
Owners: @frontend-team, @ui-team

Обновлена структура UserResponse
  src/components/Users/UserDialog.vue
  src/components/Users/UserViewDialog.vue
  src/types/users.ts
Owners: @frontend-team, @ui-team

Реализация смены пароля пользователя
  src/components/Users/PasswordResetDialog.vue
  src/services/usersService.ts
  test_password_change_frontend.html
Owners: @frontend-team, @ui-team, @backend-team

Создание пользователей
  openapi.yaml
  src/router/index.ts
  src/views/AccountsPage.vue
  src/views/CreateUser.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

унификация системы уведомлений
  CONNECTION_DIAGNOSIS_REPORT.md
  NOTIFICATIONS_GUIDE.md
  NOTIFICATIONS_UNIFICATION_REPORT.md
  VITE_FIX_REPORT.md
  VITE_SERVER_ISSUE_REPORT.md
  index.html
  src/composables/useNotifications.ts
  src/utils/errorHandler.ts
  src/views/CreateUser.vue
  test-connection.html
  vite.config.ts
Owners: @docs-team, @frontend-team, @ui-team, @admin-username

минимизировал блок "Быстрые действия"
  src/components/Dashboard/MobileDashboard.vue
  src/components/Dashboard/QuickActionsBlock.vue
  src/components/Users/LocalUserDialog.vue
  src/services/axentaUsersService.ts
Owners: @frontend-team, @ui-team, @backend-team

Создан новый компонент ActivityIndicator.vue
  src/components/Dashboard/ActivityIndicator.vue
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/UsersOverviewWidget.vue
Owners: @frontend-team, @ui-team

✅ кнопка "Сбросить фильтры" видна только при активных фильтрах (Пользователи)
  src/views/Users.vue
Owners: @frontend-team, @ui-team

страница /users/create более компактная
  src/views/CreateUser.vue
Owners: @frontend-team, @ui-team

✅ Финальный список вкладок (12 штук) создание пользователя
  src/components/Users/UserDialog.vue
  src/views/CreateUser.vue
Owners: @frontend-team, @ui-team

исправил проблему с отображением версии после деплоя
  package.json
  src/utils/buildInfo.ts
  vite.config.ts
Owners: @frontend-team, @admin-username

исправил проблему с отображением версии в production режиме
  src/utils/buildInfo.ts
  vite.config.ts
Owners: @frontend-team, @admin-username

Создал отдельную страницу /accounts/create для создания учетных записей
  src/components/Accounts/AccountDialog.vue
  src/router/index.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team, @backend-team

кнопка полностью скрыта когда нет фильтров (УЗ)
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

в разделе "Информация о компании" на странице "Учетные записи" будет отображаться иерархия
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

Учетные записи ортировка по полю 'name', новые сверху
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

Исправлены все API endpoints в accountsService.ts
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team

Update main.yml
  .github/workflows/main.yml
Owners: @admin-username

Update main.yml
  .github/workflows/main.yml
Owners: @admin-username

Update main.yml
  .github/workflows/main.yml
Owners: @admin-username

ci/cd with reset
  .github/workflows/main.yml
Owners: @admin-username

Учетные записи, реализовано "Активация/Деактивация"+очистка Дата и время блокировки в Axenta
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

/accounts в список добавил кебаб-меню
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts добавлена колонка "ID" в самое начало списка
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts улучшены всплывающие окна ID и Объекты
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Warehouse/EquipmentCard.vue
  src/views/AccountsPage.vue
  src/views/Billing.vue
  src/views/Contracts.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team
