Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

Ошибка "la.handleError is not a function" должна быть исправлена
  src/utils/errorHandler.ts
Owners: @frontend-team

Исправил дублирование переменной errorMessage
  index.html
  src/utils/errorHandler.ts
Owners: @frontend-team

Добавлены типы Организация/ИП/Физическое лицо
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Формат отображения +7 (XXX) XXX-XX-XX и валидация для поля Email
  src/services/dadataService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

/contracts/create автозаполнения банковских реквизитов по БИК
  src/services/dadataService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

/billing очистил демо данные
  .cursorrules
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

/billing дашборд очистил демо
  src/services/billingService.ts
Owners: @frontend-team, @backend-team

/billing добавил создание тарифных планов
  src/services/billingService.ts
  src/views/Billing.vue
Owners: @frontend-team, @backend-team, @ui-team

/billing -> тарафные планы добавил иконку +
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

изоляция биллинга по ID rкомпании
  src/services/billingService.ts
Owners: @frontend-team, @backend-team

createBillingPlan теперь принимает companyId и передает его в query параметре
  src/services/billingService.ts
  src/views/Billing.vue
Owners: @frontend-team, @backend-team, @ui-team

/billing Исправлена проблема: onUnmounted вызывался внутри onMounted после await, что недопустимо.
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Удаление тарифных планов работает корректно с изоляцией по компаниям.
  src/services/billingService.ts
  src/views/Billing.vue
Owners: @frontend-team, @backend-team, @ui-team

Выбор нумератора — поле выбора нумератора рядом с полем "Номер договора"
  .cursorrules
  src/components/Billing/ContractNumeratorsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/services/contractsService.ts
  src/types/contracts.ts
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

Опция "Из Bitrix24" отключена и помечена как "Скоро".
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Изменил отображение плейсхолдеров: теперь они выводятся вертикально, каждый с новой строки.
  src/components/Billing/ContractNumeratorsTab.vue
  src/types/contracts.ts
Owners: @frontend-team, @ui-team

Добавлена иконка договора в колонку "Действия" на странице /accounts.
  src/services/accountsService.ts
  src/views/AccountsPage.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

/billing Новые функции подписок
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Добавлена функция loadContracts() — загружает договоры из API
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
  src/services/billingService.ts
  src/services/contractsService.ts
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

Исправил источник ошибок проверки интеграции
  src/services/settingsService.ts
Owners: @frontend-team, @backend-team

Добавил «умный» рантайм-фолбэк для backendUrl
  src/config/env.ts
Owners: @frontend-team

Кеширование в dashboardService: TTL кеша: 10 секунд
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/services/axentaAutoRefreshService.ts
  src/services/dashboardService.ts
  src/services/objectsService.ts
Owners: @frontend-team, @ui-team, @backend-team

Кеширование и дедупликация для getAccountsStats()
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

Кеширование и дедупликация для getUsersStats
  src/services/usersService.ts
  src/views/Users.vue
Owners: @frontend-team, @backend-team, @ui-team

Добавлена проверка тарифных планов при привязке объектов к договорам.
  src/components/Billing/ContractsTab.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Последовательная загрузка всех страниц в цикле while с await
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Добавлена карточка NovaConnect в раздел "Интеграции"
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/NovaConnectSettings.vue
Owners: @frontend-team, @ui-team

Восстановлено постраничное отображение SIM-карт на странице /warehouse в разделе SIM.
  src/components/Settings/IntegrationsSettings.vue
  src/components/Warehouse/SimCardsList.vue
  src/services/novaconnectService.ts
  src/services/settingsService.ts
  src/views/WarehouseWorking.vue
Owners: @frontend-team, @ui-team, @backend-team

novaconnectService.ts — изоляция токенов по компаниям
  src/components/Warehouse/SimCardsList.vue
  src/services/novaconnectService.ts
Owners: @frontend-team, @ui-team, @backend-team

При первой загрузке будет загружаться только 10 карт, что быстрее.
  src/components/Warehouse/SimCardsList.vue
Owners: @frontend-team, @ui-team

Добавлен флаг statsFullyLoaded, чтобы статистика загружалась только один раз.
  src/components/Warehouse/SimCardsList.vue
  src/services/novaconnectService.ts
Owners: @frontend-team, @ui-team, @backend-team

Теперь ошибка "Element not found" будет игнорироваться
  src/components/Warehouse/SimCardsList.vue
  src/utils/errorHandler.ts
Owners: @frontend-team, @ui-team

Убрано пробрасывание ошибок (throw error)
  src/components/Warehouse/SimCardsList.vue
  src/services/novaconnectService.ts
  src/services/settingsService.ts
  src/views/WarehouseWorking.vue
Owners: @frontend-team, @ui-team, @backend-team

Сервис интеграции Telegram Bot API
  src/components/Settings/IntegrationsSettings.vue
  src/services/settingsService.ts
Owners: @frontend-team, @ui-team, @backend-team

Сделал управление нумераторами для счетов
  src/components/Billing/InvoiceNumeratorsTab.vue
  src/services/billingService.ts
  src/services/invoiceNumeratorsService.ts
  src/types/billing.ts
  src/types/invoices.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

Убрал любое чтение/запись токена NovaConnect в localStorage
  src/components/Settings/IntegrationsSettings.vue
  src/utils/authClear.ts
Owners: @frontend-team, @ui-team

Сделал правку в novaconnectService.ts: теперь используем config.apiBaseUrl
  src/services/novaconnectService.ts
Owners: @frontend-team, @backend-team

ошибки: в таблице SIM‑карт обращались к item.limit.type без проверки на undefined
  src/components/Warehouse/SimCardsList.vue
Owners: @frontend-team, @ui-team

Баннер статистики отображается мгновенно из кэша
  src/components/Warehouse/SimCardsList.vue
  src/services/dashboardService.ts
  src/services/warehouseService.ts
Owners: @frontend-team, @ui-team, @backend-team

При обновлении страницы: SIM-Баннер показывается сразу из кэша
  src/components/Warehouse/SimCardsList.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
