Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

chore: replace axenta.glonass-saratov.ru with acrm.su
  .env.production
  src/components/Layout/AppLayout.vue
  src/config/env.ts
  vite.config.ts
Owners: @admin-username, @frontend-team, @ui-team

fix(dashboard): фильтр нулевых снапов в расчёте deltaPct
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

refactor: удалить мёртвую фичу «Шаблоны» (объекты/пользователи)
  src/__tests__/users.e2e.test.ts
  src/components/Objects/CreateTemplateDialog.vue
  src/components/Objects/ObjectFormDialog.vue
  src/components/Objects/ObjectsTable.vue
  src/components/Settings/ObjectTemplates.vue
  src/components/Settings/ReportTemplates.vue
  src/components/Settings/TemplatesSettings.vue
  src/components/Settings/UserTemplates.vue
  src/components/Users/UserDialog.vue
  src/composables/useObjectsCRUD.ts
  src/composables/useObjectsLookups.ts
  src/mocks/mockUsersData.ts
  src/router/index.ts
  src/services/objectsService.ts
  src/services/usersService.ts
  src/views/Objects.vue
  src/views/Settings.vue
  src/views/TemplateObjectsPage.vue
  src/views/TemplateReportsPage.vue
  src/views/TemplateUsersPage.vue
  src/views/Users.vue
Owners: @frontend-team, @qa-team, @ui-team, @backend-team

fix(billing): свежий список подписок после мутаций (cache-clobber)
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(settings): GELIOS placeholder-карточка в списке интеграций
  src/components/Settings/IntegrationsSettings.vue
  src/types/settings.ts
Owners: @frontend-team, @ui-team

feat(gelios): C4 — фронт GELIOS-подключения (карточка + диалог + service)
  src/components/Settings/GeliosConnectionsSettings.vue
  src/components/Settings/IntegrationsSettings.vue
  src/services/geliosService.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(gelios): GELIOS карта в каруселях дашборда
  src/components/Dashboard/ChartDrilldownDialog.vue
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(gelios): GELIOS read-only в секциях Пользователи + Учётные записи
  src/components/Accounts/AccountsStats.vue
  src/components/Accounts/AccountsTable.vue
  src/components/Users/UsersFilters.vue
  src/components/Users/UsersStats.vue
  src/composables/useAccountsList.ts
  src/composables/useUsersList.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

fix(gelios): консистентный source-бейдж в Пользователях
  src/composables/useUserAvatar.ts
Owners: @frontend-team

feat(gelios): GELIOS в разделе Объекты (read-only)
  src/components/Objects/ObjectsTable.vue
  src/composables/useObjectsList.ts
  src/services/objectsService.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(gelios): UI создания/удаления пользователей + защита от дурака
  src/components/Users/GeliosUserDialog.vue
  src/services/api.ts
  src/services/geliosService.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

refactor(gelios): создание юзера в универсальную форму (как все системы)
  src/views/CreateUser.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

fix(gelios): таймаут на форме создания + дубль-риск create/delete
  src/services/geliosService.ts
  src/views/CreateUser.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(gelios): edit-форма пользователя (PATCH partial)
  src/components/Users/GeliosUserDialog.vue
  src/services/geliosService.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(auth): локальная авторизация Ф1 — фронт
  src/context/auth.ts
  src/services/api.ts
Owners: @frontend-team, @backend-team

fix(auth): Ф1 фронт — устранён отскок логина (live browser e2e)
  src/context/auth.ts
  src/services/accountsService.ts
  src/services/api.ts
  src/services/billingService.ts
  src/services/contractsService.ts
  src/services/objectsService.ts
Owners: @frontend-team, @backend-team

feat(monetization): Ф2 S5 — frontend /control-plane surface
  src/control-plane/ControlLogin.vue
  src/control-plane/ControlPanel.vue
  src/control-plane/operatorClient.ts
  src/router/index.ts
Owners: @frontend-team

feat(settings): Ф3-D #1 — панель cred-UX подключения Axenta
  src/components/Settings/AxentaConnectionSettings.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

fix(settings): убрать legacy «Axenta Cloud API»-карточку (дубль cred-UX)
  src/components/Settings/IntegrationsSettings.vue
Owners: @frontend-team, @ui-team

style(settings): «Подключение Axenta» в виде карточки как GELIOS/SKIF/Wialon
  src/components/Settings/AxentaConnectionSettings.vue
Owners: @frontend-team, @ui-team

style(settings): «Подключение Axenta» внутри сетки «Внешние интеграции»
  src/components/Settings/AxentaConnectionSettings.vue
  src/components/Settings/IntegrationsSettings.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

fix(billing): убрать дубль ключа cancelled в BillingMetricDetailDialog
  src/components/Billing/BillingMetricDetailDialog.vue
Owners: @frontend-team, @ui-team

feat(accounts): Ф3-G FE — селекторы компаний на /auth/accounts snapshot
  src/services/objectsService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

fix(auth): унифицировать Authorization header — Token → Bearer (Ф1 local-auth-fixup)
  .env.staging
  src/components/Admin/SnapshotJobsHistory.vue
  src/services/accountsService.ts
  src/services/audit.ts
  src/services/axentaUsersService.ts
  src/services/billingService.ts
  src/services/contractsService.ts
  src/services/dadataService.ts
  src/services/dashboardService.ts
  src/services/installationsService.ts
  src/services/invoiceNumeratorsService.ts
  src/services/novaconnectService.ts
  src/services/objectsService.ts
  src/services/settings/_client.ts
  src/services/settingsService.ts
  src/services/usersService.ts
Owners: @admin-username, @frontend-team, @ui-team, @backend-team

fix(staging): VITE_API_TIMEOUT=600000 (10мин) для долгих sync
  .env.staging
Owners: @admin-username

feat(settings): unified «Источники данных GPS» — 4 карточки → 1 таблица
  src/components/Settings/GpsSourcesUnified.vue
  src/components/Settings/IntegrationsSettings.vue
Owners: @frontend-team, @ui-team

style(settings): убрать дубль-header «Внешние интеграции»
  src/components/Settings/IntegrationsSettings.vue
Owners: @frontend-team, @ui-team

refactor(settings): GpsSourcesUnified UI-полировка по feedback
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

fix(settings): Wialon column «Логин» — user_name, не name
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

fix(settings): Axenta objects — /objects/stats (10585), не /accounts/stats (2030)
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

fix(settings): Axenta Test — судить по cred+jobs, не /axenta/status
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

feat(settings): Axenta UX — единообразно с другими провайдерами
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

fix(settings): дубли строк при сортировке v-data-table
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

fix(settings): Axenta last_sync — приоритет ручного sync через tracker
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

refactor(gps-sources): убрать polling-loop Axenta sync, inline-response
  src/components/Settings/GpsSourcesUnified.vue
Owners: @frontend-team, @ui-team

chore: deps
  package.json
Owners: @frontend-team

feat(partner-billing): Ф0+Ф1 FE — мульти-системный дропдаун партнёров
  src/components/Billing/ContractsTab.vue
  src/services/accountsService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(login): редизайн входа — ACRM Hub split-layout
  src/assets/providers/axenta.png
  src/assets/providers/gelios.svg
  src/assets/providers/skif.png
  src/assets/providers/wialon.svg
  src/components/AppleStyleLogin.vue
Owners: @frontend-team, @ui-team

🚨 security: удалить malicious postinstall из package.json
  package.json
Owners: @frontend-team

🔒 security(ci): npm install --ignore-scripts
  .github/workflows/main.yml
Owners: @admin-username
