Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

fix(users): читать ?source= query-param из global search
  src/views/Users.vue
Owners: @frontend-team, @ui-team

feat(objects): SKIF в фильтре «Система» + read-only mapping
  src/components/Objects/ObjectsTable.vue
  src/composables/useObjectsList.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

fix(objects): KPI «Неактивные» суммирует wialon_inactive
  src/composables/useObjectsList.ts
Owners: @frontend-team

feat(migration): страница /migration/wcrm — preview + per-company approve
  src/router/index.ts
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

feat(migration): preview — подписки, бейдж пропуска, uid-матч объектов
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

fix(migration): убрать устаревший «suspended (биллинг не настроен)» в preview
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

feat(contracts): реальные имена объектов в Договорах вместо fake «Object N»
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(billing): убрать ID объекта в tooltip, только наименование
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

fix(billing): tooltip объектов — высота ~10, дальше скролл
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

fix(billing): сумма договора из подписок, не из contract.tariff_plan
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix(billing): дата начала в edit-форме подписки (обрезка ISO до YYYY-MM-DD)
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(billing): колонка Баланс + платёж без счёта + история начислений
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(billing): колонка «Тип» договора иконкой + ужатые ширины таблицы
  src/components/Billing/ContractsTab.vue
  src/types/contracts.ts
Owners: @frontend-team, @ui-team

fix(billing): внесение платежа и история лицевого счёта (ReferenceError)
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

feat(billing): колонки «Время» и «Кто внёс» в истории лицевого счёта
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

style(billing): шире окно истории ЛС + без переноса строк в ячейках
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

feat(migration): колонка «Срок приложения» в preview WCRM
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

feat(accounts): дропдаун «Наши родители» с группами на /accounts
  src/components/Accounts/AccountsFilters.vue
  src/composables/useAccountsList.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team, @backend-team

fix(accounts): «Наши родители» — дефолт, не активный фильтр
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

feat(objects,users): дропдаун «Родительский аккаунт» + Система WH/WL split
  src/components/Objects/ObjectsFiltersBar.vue
  src/components/Users/UsersFilters.vue
  src/composables/useObjectsFilters.ts
  src/composables/useUsersList.ts
  src/services/objectsService.ts
  src/services/usersService.ts
  src/views/Objects.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(billing): закрепить шапку в детализации расчёта стоимости
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

feat(wcrm-migration): выбор старта подписки Авто/Вручную в /migration/wcrm
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

fix(wcrm-migration): «Авто» старт = 1-е число тек. месяца, не дата WCRM
  src/views/MigrationWCRM.vue
Owners: @frontend-team, @ui-team

fix(billing): «переплата» → «предоплата» в балансе договора
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix(billing): «Оплачено» → «Баланс» в детализации расчёта
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix(billing): убрать символ валюты в колонках списка договоров
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

feat(billing-ph0): блок «Модель биллинга» + гейт вкладки настроек
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(billing-ph0): колонка «Менеджер» + селектор в карточке договора (B4 FE)
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/services/contractsService.ts
  src/types/contracts.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(billing-ph0): фильтр по менеджеру в списке договоров (admin only)
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix(billing): гейты роли из axenta_user, не useLocalAuth (вернуть Настройки)
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/utils/billingRole.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(billing-П1): кнопка/диалог перевода между ЛС в окне «Лицевой счёт»
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(billing-П1): idempotency_key при переводе (защита от дублей retry)
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(billing-П2): селектор режима биллинга + кредит-лимит в карточке договора
  src/components/Contracts/ContractDialog.vue
  src/types/contracts.ts
Owners: @frontend-team, @ui-team

feat(billing): UI зонтов отсрочки и обещанного платежа (П3+П4)
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(billing): П5 фаза 3 UI — применённый курс в детализации расчёта
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix(billing): вернуть кнопки действий в один ряд с фильтрами
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

feat(contracts): поле «Менеджер» в форме создания/редактирования договора
  src/views/CreateContract.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

feat(billing): массовые действия + двухрежимный FAB + полиш фильтров/таблицы
  src/components/Apple/AppleFAB.vue
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

style(billing): страница на всю ширину + убрана шапка-заголовок
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

fix(billing): фоновое обновление списка договоров без дублей и перезагрузки
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team
