Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

🔧 Исправление отображения текста в виджетах дашборда
  NUMBER_WRAPPING_FIXES.md
  TEXT_DISPLAY_FIXES_REPORT.md
  VISIBILITY_FIXES_REPORT.md
  WIDGET_OPTIMIZATION_REPORT.md
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/style.css
  src/views/SimpleDashboard.vue
  src/views/TestDashboard.vue
Owners: @docs-team, @frontend-team, @ui-team

🔧 Изменен порт фронтенда с 3000 на 3001
  vite.config.ts
Owners: @admin-username, @frontend-team

fix: убрал "защиту" workflows
  .github/workflows/protect-workflows.yml
Owners: @admin-username

feat: Адаптивные кнопки быстрых действий для разных режимов меню
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/MobileDashboard.vue
  src/components/Layout/AppLayout.vue
  src/store/dashboard.ts
Owners: @frontend-team, @ui-team

feat: системная информация в боковом меню с динамическим временем обновления
  DRAG_DROP_WIDGETS_IMPLEMENTATION.md
  package-lock.json
  package.json
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/QuickActionsBlock.vue
  src/components/Layout/AppLayout.vue
  src/composables/useSystemRefresh.ts
  src/store/dashboard.ts
  src/utils/buildInfo.ts
  src/views/Dashboard.vue
  src/vite-env.d.ts
  vite.config.ts
Owners: @docs-team, @frontend-team, @ui-team, @admin-username

feat: унифицировать высоту виджетов дашборда с прокруткой
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/main.ts
  src/styles/widget-layout.css
Owners: @frontend-team, @ui-team

fix: Исправлен фильтр в виджете последней активности
  src/components/Dashboard/RecentActivityWidget.vue
Owners: @frontend-team, @ui-team

feat: переместил интеграции из создания компании в настройки
  src/components/Companies/CompanyDialog.vue
  src/services/companiesService.ts
Owners: @frontend-team, @ui-team, @backend-team

Удален функционал 'Тест подключения' из раздела Учетные записи
  src/views/Companies.vue
Owners: @frontend-team, @ui-team

feat: реализованы групповые действия и улучшенный поиск
  src/components/Common/BulkDeleteConfirmDialog.vue
  src/components/Common/SuccessNotification.vue
  src/services/companiesService.ts
  src/services/usersService.ts
  src/views/Companies.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

feat: добавлено ручное управление автозакрытием уведомлений
  src/components/Common/SuccessNotification.vue
  src/components/Companies/CompanyMenuFixed.vue
  src/views/Companies.vue
Owners: @frontend-team, @ui-team

feat: Универсальные динамические фильтры для учетных записей
  COMPACT_FILTER_OPTIMIZATION.md
  COMPANIES_FILTERS_README.md
  DYNAMIC_FILTERS_GUIDE.md
  FILTER_ALIGNMENT_IMPROVEMENTS.md
  FILTER_IMPROVEMENTS.md
  RESPONSIVE_BREAKPOINTS_GUIDE.md
  UNIFIED_STYLE_GUIDE.md
  src/components/Companies/CompaniesFilter.vue
  src/services/companiesService.ts
  src/types/companies.ts
  src/views/Companies.vue
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

🎉 Исправлена кнопка 'Создать объект' и убрано размытие экрана
  BUTTON_FIX_REPORT.md
  COMPACT_FILTERS_REPORT.md
  DESIGN_FIX_REPORT.md
  GIT_DEPLOYMENT_SUMMARY.md
  OBJECTS_PAGE_FIX_REPORT.md
  PROJECT_RESTART_REPORT.md
  src/components/Common/SuccessNotification.vue
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/main.ts
  src/router/index.ts
  src/services/objectsService.ts
  src/store/dashboard.ts
  src/styles/no-loading-overlay.css
  src/utils/disableLoading.ts
  src/views/Objects.vue
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

🚀 Fix API service fallback and improve error handling
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Dashboard/SnapGuides.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/components/Settings/TemplatesSettings.vue
  src/services/objectsService.ts
  src/services/settingsService.ts
  src/store/dashboard.ts
  src/types/dashboard.ts
  src/types/objects.ts
  src/utils/snapToGrid.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team, @backend-team

Удалена информационная панель о доступе на странице учетных записей
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

Production сборка готова - обновления интерфейса учетных записей
  src/main.ts
  src/router/index.ts
  src/services/accountsService.ts
  src/types/companies.ts
  src/views/Companies.vue
Owners: @frontend-team, @backend-team, @ui-team

🔧 Исправлены API эндпоинты для учетных записей
  ACCESS_LIMITATIONS_EXPLANATION.md
  ACCOUNTS_USAGE_GUIDE.md
  ACTIONS_ROW_DESIGN.md
  ADMIN_STATUS_GUIDE.md
  BLOCKING_COMPACT_GUIDE.md
  COMPACT_OBJECTS_GUIDE.md
  COMPACT_PAGINATION_FINAL.md
  COMPANY_COMPACT_DISPLAY.md
  CORS_FIX_INSTRUCTIONS.md
  CREATION_DATE_COMPACT_GUIDE.md
  CUSTOM_PAGINATION_SOLUTION.md
  DYNAMIC_SELECT_WIDTH.md
  FINAL_ACCOUNTS_TABLE.md
  FINAL_PAGINATION_INTERFACE.md
  FORCE_DYNAMIC_SELECT.md
  FORCE_TOTAL_FIX.md
  MINIMAL_TABLE_DESIGN.md
  PAGINATION_COMPLETE_SOLUTION.md
  PAGINATION_COUNT_FIX.md
  PAGINATION_FINAL_RESULT.md
  PAGINATION_FINAL_TEST.md
  PAGINATION_FIX_GUIDE.md
  PARENT_FILTER_CLEAN.md
  PARENT_FILTER_GUIDE.md
  RESTART_COMPLETE_GUIDE.md
  RUSSIAN_LOCALIZATION_GUIDE.md
  SERVER_SIDE_SORTING.md
  SHOW_ALL_RECORDS_FIX.md
  SMOOTH_UPDATE_GUIDE.md
  SORTING_FUNCTIONALITY.md
  UNIFIED_STYLE_COMPLETE.md
  src/services/accountsService.ts
  test-accounts-api.cjs
Owners: @docs-team, @frontend-team, @backend-team

feat: обновления интерфейса и API сервисов - улучшения компонентов Dashboard, Accounts, Companies, Objects, Settings - добавлены новые сервисы автообновления - обновлены типы данных и API интеграция
  ACCOUNTS_API_TEST_GUIDE.md
  complete_deploy.exp
  deploy_fix.exp
  deploy_fix2.exp
  deploy_remote.sh
  final_deploy.exp
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Settings/AutoRefreshSettings.vue
  src/services/accountsService.ts
  src/services/axentaAutoRefreshService.ts
  src/types/companies.ts
  src/views/AccountsPage.vue
  src/views/Companies.vue
  src/views/Objects.vue
  src/views/Settings.vue
  ssh_auto.exp
  test-accounts-api.js
  test-accounts-browser.html
  test-api-url.html
  test-auto-refresh.html
  test-cors-solution.html
Owners: @docs-team, @admin-username, @frontend-team, @ui-team, @backend-team

fix: исправлены ошибки сборки - убрана лишняя закрывающая скобка CSS в Objects.vue - исправлен импорт useSnackbar в AutoRefreshSettings.vue - добавлен локальный snackbar компонент
  src/components/Settings/AutoRefreshSettings.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

Update AccountsPage.vue with improvements
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

🔧 Исправлена фильтрация в разделе Учетные записи
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

🔧 UX: Отключена индивидуальная очистка фильтров
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

✨ UX: Добавлена подсветка активных фильтров
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

🎨 UX: Упрощена подсветка активных фильтров
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

🔧 UX: Возвращена иконка фильтра к предыдущему виду
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

🔧 UX: Возвращен правильный размер иконки фильтра
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

feat: Добавлен множественный поиск компаний и кастомная иконка фильтра
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix: Заменена кастомная SVG иконка на стандартную Material Design
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

feat: Интеграция с Axenta Cloud API для реальных объектов
  AUTHORIZATION_REQUIRED.md
  AUTH_FIXED_FINAL.md
  AUTO_REFRESH_BACKGROUND.md
  AUTO_TOKEN_SETUP_COMPLETE.md
  AXENTA_CLOUD_API_RESPONSES.md
  AXENTA_CLOUD_OBJECTS_SETUP.md
  BYPASS_AUTH_SOLUTION.md
  CONSOLE_TOKEN_SETUP.md
  CORS_ISSUE_FIXED.md
  DEBUGGING_OBJECTS_ISSUE.md
  DIRECT_ACCESS_SOLUTION.md
  ERROR_ANALYSIS_EXPLANATION.md
  FINAL_FIX_INSTRUCTIONS.md
  FINAL_REAL_OBJECTS_GUIDE.md
  FINAL_SETUP_SUMMARY.md
  OBJECTS_WORKING_NOW.md
  REAL_API_RESPONSE_ANALYSIS.md
  REAL_DATA_EXAMPLE.md
  REAL_OBJECTS_CONFIRMATION.md
  REAL_OBJECTS_INSTRUCTIONS.md
  TOKEN_BYPASS_INSTRUCTIONS.md
  TOKEN_LOGIC_EXPLANATION.md
  URGENT_CONFIG_FIX.md
  src/components/Test/RealObjectsList.vue
  src/config/env.ts
  src/context/auth.ts
  src/router/index.ts
  src/services/objectsService.ts
  src/views/Objects.vue
  src/views/TestRealObjects.vue
  test-axenta-cloud-objects.html
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

🔧 Fix: Исправлен ObjectsService для правильной передачи токенов авторизации
  src/services/objectsService.ts
Owners: @frontend-team, @backend-team

🚨 Исправление проблемы авторизации 403 в продакшене
  AUTH_CONTEXT_ISSUE_FIXED.md
  BACKEND_SETUP_PROGRESS.md
  BACKEND_SETUP_REQUIRED.md
  BACKEND_SUCCESS_SUMMARY.md
  DEMO_USER_REMOVED.md
  DOMAIN_RESTRICTION_EXPLANATION.md
  FORCED_TOKEN_SETUP_COMPLETE.md
  GITHUB_DEPLOYMENT_SUMMARY.md
  IMMEDIATE_TOKEN_FIX.md
  JWT_TOKEN_ISSUE_FIXED.md
  PRODUCTION_AUTH_FIX.md
  REVERTED_TO_NORMAL_AUTH.md
  fix-production-auth.sh
  src/config/env.ts
  src/context/auth.ts
  src/router/index.ts
  src/views/Objects.vue
  vite.config.ts
Owners: @docs-team, @frontend-team, @ui-team, @admin-username

🔧 Fix: Улучшена fallback логика для объектов на продакшене
  OBJECTS_PRODUCTION_FIX_REPORT.md
  src/services/objectsService.ts
  test-objects-fallback.html
  test-objects-service.js
Owners: @docs-team, @frontend-team, @backend-team

CRITICAL SECURITY FIX: User data isolation - each user sees only their objects
  AUTH_CONTEXT_ISSUE_FIXED.md
  SECURITY_FIX_USER_OBJECTS_REPORT.md
  src/services/objectsService.ts
  test-user-token-security.html
Owners: @docs-team, @frontend-team, @backend-team

feat: Исправлена загрузка пользователей из Axenta Cloud API
  src/services/mockUsersData.ts
  src/services/usersService.ts
  src/types/users.ts
  src/views/Users.vue
Owners: @frontend-team, @backend-team, @ui-team

temp: Переключение на локальный API для тестирования новых endpoints пользователей
  src/config/env.ts
Owners: @frontend-team

deploy: Добавлен скрипт переключения на продакшн API
  switch_to_production.sh
Owners: none

fix: Дополнительные исправления сервисов для работы с локальным API
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/services/dashboardService.ts
  src/services/objectsService.ts
Owners: @frontend-team, @ui-team, @backend-team

docs: Добавлено руководство по развертыванию API пользователей
  USERS_API_DEPLOYMENT_GUIDE.md
Owners: @docs-team

оздал комплексную систему миграций базы данных для Axenta CRM с проверкой наличия и структуры таблиц на сервере
  DEMO_UI_CLEANUP_REPORT.md
  DEMO_USERS_CLEANUP_REPORT.md
Owners: @docs-team

✅ Устранены предупреждения Vue о недостающем prop modelValue
  src/views/Companies.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team
