Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

feat(billing): П6 фаза 1 — UI каденции списания + фикс tooltip
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(billing): deep-link ?search для счетов из глобального поиска
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

feat(installations): deep-link ?installation=<id> из глобального поиска
  src/views/Installations.vue
Owners: @frontend-team, @ui-team

feat(accounts): exact-режим deep-link из глобального поиска (followup #4)
  src/composables/useAccountsList.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(contracts): реальная загрузка договоров вместо demo-only (followup #1)
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

feat(billing): контрагент-ЛС Ф4b — страница контрагентов (единый ЛС)
  src/components/Layout/AppLayout.vue
  src/router/index.ts
  src/services/counterpartiesService.ts
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(billing): контрагент-ЛС Ф5b — FE-визард Excel-импорта платежей
  src/components/Billing/PaymentImportWizard.vue
  src/services/counterpartiesService.ts
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(contracts): селектор контрагента в форме договора (Ф4b-followon)
  src/components/Contracts/CounterpartySelector.vue
  src/types/contracts.ts
  src/views/CreateContract.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

feat(contracts): UI-отвязка контрагента в форме редактирования (Ф4b-followon)
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

feat(counterparties): мультивалютный баланс ЛС в UI
  src/services/contractsService.ts
  src/services/counterpartiesService.ts
  src/views/Counterparties.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(billing): Фаза A IA — единый раздел контрагент-first
  src/components/Billing/BillingSectionTabs.vue
  src/components/Billing/ContractsTab.vue
  src/components/Billing/QuickPaymentDialog.vue
  src/components/Layout/AppLayout.vue
  src/services/counterpartiesService.ts
  src/views/Billing.vue
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(billing): действия раздела контрагентов в AppleFAB
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(billing): убран дублирующий заголовок страницы контрагентов
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(billing): панель «Метрики биллинга» на вкладке Контрагенты
  src/components/Billing/BillingMetricsPanel.vue
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(billing): B1 — полные реквизиты в форме создания контрагента
  src/services/counterpartiesService.ts
  src/views/Counterparties.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(billing): B2 — форма договора subject-first (только селектор контрагента)
  src/views/CreateContract.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

feat(billing): inline-создание контрагента из формы договора + DaData по ИНН
  src/components/Contracts/CounterpartyCreateDialog.vue
  src/views/Counterparties.vue
  src/views/CreateContract.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

ci(deploy): сборка фронта в раннере + атомная доставка dist (фикс OOM прода)
  .github/workflows/main.yml
Owners: @admin-username

ci(deploy): упростить активацию — dist всегда симлинк, плоский mv -Tf
  .github/workflows/main.yml
Owners: @admin-username

feat(billing): Phase D FE — партнёр-контрагент в справочнике (D4)
  src/services/counterpartiesService.ts
  src/views/Counterparties.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(billing): редактирование реквизитов контрагента (клиент+партнёр)
  src/components/Contracts/CounterpartyCreateDialog.vue
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(billing): единый contractDisplayName — централизация имени договора (C3)
  src/components/Billing/ContractsTab.vue
  src/components/Billing/ManualPaymentDialog.vue
  src/components/Billing/SendInvoiceDialog.vue
  src/components/Billing/SubscriptionWizard.vue
  src/components/Contracts/ExpiringContractsDialog.vue
  src/components/Objects/ObjectViewDialog.vue
  src/components/Objects/ObjectsTable.vue
  src/utils/contractDisplay.ts
  src/views/Billing.vue
  src/views/Contracts.vue
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

fix(types): поля физлиц в Counterparty-интерфейсе
  src/services/counterpartiesService.ts
Owners: @frontend-team, @backend-team

feat(billing): C4a — contractDisplayName читает counterparty/partner_*
  src/components/Billing/ContractsTab.vue
  src/utils/contractDisplay.ts
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

feat(billing): C4b FE — отображение/поиск/префилл на counterparty/partner_*
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SendInvoiceDialog.vue
  src/components/Billing/SubscriptionWizard.vue
  src/components/Contracts/ExpiringContractsDialog.vue
  src/views/Billing.vue
  src/views/ContractsSimple.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

chore(contracts): удалён мёртвый кластер Contracts.vue (orphan вне роутера)
  src/__tests__/contracts.e2e.test.ts
  src/components/Contracts/ContractDialog.vue
  src/components/Contracts/ContractObjectsDialog.vue
  src/components/Contracts/ContractViewDialog.vue
  src/components/Contracts/ExpiringContractsDialog.vue
  src/views/Contracts.vue
Owners: @frontend-team, @qa-team, @ui-team

feat(settings): справочник партнёрских снимков (Ф1 billing-gate)
  src/components/Admin/PartnerSnapshotsReference.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

feat(contract): селектор контрагента-партнёра в форме договора
  src/components/Contracts/CounterpartySelector.vue
  src/services/counterpartiesService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(snapshot-ref): № договора + подсветка «без договора»
  src/components/Admin/PartnerSnapshotsReference.vue
Owners: @frontend-team, @ui-team

feat(counterparties): сокращённое наименование в списке вместо полного
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(counterparty): селектор роли в диалоге + единый контрагент в партнёр-договоре
  src/components/Contracts/CounterpartyCreateDialog.vue
  src/components/Contracts/CounterpartySelector.vue
  src/services/counterpartiesService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

feat(contract-form): убрать форму реквизитов + компактная раскладка
  src/components/Contracts/CounterpartySelector.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

fix(contract-form): выравнивание контрагент-секции по сетке
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

fix(contract): карточка договора через контрагента + имя контрагента в списке
  src/utils/contractDisplay.ts
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

fix(counterparties): кол-во договоров для партнёров в списке
  src/views/Counterparties.vue
Owners: @frontend-team, @ui-team

feat(snapshots): «без договора» — заметная подсветка + клик в создание договора
  src/components/Admin/PartnerSnapshotsReference.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

fix(contracts): кнопка «Создать контрагента» в партнёрском договоре
  src/components/Contracts/CounterpartyCreateDialog.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

feat(contracts): авто-заполнение банка по БИК в диалоге контрагента
  src/components/Contracts/CounterpartyCreateDialog.vue
Owners: @frontend-team, @ui-team

feat(snapshots): фильтр по периоду дат в «История снимков»
  src/components/Admin/PartnerSnapshotsReference.vue
Owners: @frontend-team, @ui-team

feat(snapshots): колонка «№» (сквозная нумерация строк) в «История снимков»
  src/components/Admin/PartnerSnapshotsReference.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
