Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

Исправление входа в CMS Wialon+Hosting
  src/services/settingsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

Загружает ВСЕ записи Axenta через API (
  src/views/AccountsPage.vue
  src/views/Users.vue
  vite.config.ts
Owners: @frontend-team, @ui-team, @admin-username

Унифицированный API Пользователей
  src/services/settingsService.ts
  src/services/usersService.ts
  src/views/Users.vue
Owners: @frontend-team, @backend-team, @ui-team

Удалён неиспользуемый router/guards_old.ts
  src/router/guards_old.ts
Owners: @frontend-team

Перенос mock-файлов из services/ в mocks/
  src/__tests__/warehouse.simple.test.ts
  src/mocks/mockCacheData.ts
  src/mocks/mockDashboardData.ts
  src/mocks/mockInstallationsData.ts
  src/mocks/mockUsersData.ts
  src/mocks/mockWarehouseData.ts
  src/services/cacheService.ts
  src/services/dashboardService.ts
  src/services/installationsService.ts
  src/services/usersService.ts
  src/services/warehouseService.ts
  src/views/CacheDemo.vue
Owners: @frontend-team, @qa-team, @backend-team, @ui-team

settingsService: вынесены demo-данные в settings/_demoData.ts
  src/services/settings/_demoData.ts
  src/services/settingsService.ts
Owners: @frontend-team, @backend-team

settingsService: вынесены Wialon, Telegram, MAX, Email интеграции
  src/services/settings/_client.ts
  src/services/settings/email.ts
  src/services/settings/max.ts
  src/services/settings/telegram.ts
  src/services/settings/wialon.ts
  src/services/settingsService.ts
Owners: @frontend-team, @backend-team

settingsService: вынесены Axenta + NovaConnect интеграции
  src/services/settings/_client.ts
  src/services/settings/axenta.ts
  src/services/settings/novaconnect.ts
  src/services/settingsService.ts
Owners: @frontend-team, @backend-team

Frontend UI для управления notifications-шаблонами
  src/components/Settings/NotificationTemplates.vue
  src/services/notificationsService.ts
  src/views/Settings.vue
Owners: @frontend-team, @ui-team, @backend-team

Frontend UI журнала уведомлений — /notification-logs view
  src/components/Layout/AppLayout.vue
  src/router/index.ts
  src/views/NotificationLogs.vue
Owners: @frontend-team, @ui-team

Удалён SMS-чекбокс из SystemSettings (sync с backend)
  src/components/Settings/SystemSettingsForm.vue
  src/services/settings/_demoData.ts
  src/types/settings.ts
Owners: @frontend-team, @ui-team, @backend-team

Удалено SMS-наследие notification-каналов
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/MonitoringSettings.vue
  src/components/Settings/NotificationsSettings.vue
  src/components/Settings/TemplatesSettings.vue
  src/data/helpInstructions.ts
  src/services/settings/_demoData.ts
  src/types/index.ts
  src/types/settings.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

Dashboard redesign: новые компоненты KPIBar, AlertsRow, Today, Recent
  src/components/Dashboard/AlertsRow.vue
  src/components/Dashboard/KPIBar.vue
  src/components/Dashboard/RecentInvoices.vue
  src/components/Dashboard/TodayInstallations.vue
  src/services/dashboardKpiService.ts
Owners: @frontend-team, @ui-team, @backend-team

Dashboard.vue: новая структура — KPI + Alerts + Today + расширенные
  src/components/Dashboard/KPIBar.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Dashboard cleanup: отключены QuickActionsBlock и icon-кнопки виджетов
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/DashboardGrid.vue
Owners: @frontend-team, @ui-team

Revert "Dashboard.vue: новая структура — KPI + Alerts + Today + расширенные"
  src/components/Dashboard/KPIBar.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Revert "Dashboard cleanup: отключены QuickActionsBlock и icon-кнопки виджетов"
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/DashboardGrid.vue
Owners: @frontend-team, @ui-team

Reapply "Dashboard cleanup: отключены QuickActionsBlock и icon-кнопки виджетов"
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/DashboardGrid.vue
Owners: @frontend-team, @ui-team

Reapply "Dashboard.vue: новая структура — KPI + Alerts + Today + расширенные"
  src/components/Dashboard/KPIBar.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Dashboard redesign: KPI 2×2 + chart + table + donut + global search
  src/components/Dashboard/AccountsOverviewWidget.vue
  src/components/Dashboard/ActivityIndicator.vue
  src/components/Dashboard/AlertsRow.vue
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/CurrentUserWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/KPIBar.vue
  src/components/Dashboard/MobileDashboard.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/QuickActionsBlock.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Dashboard/RecentInvoices.vue
  src/components/Dashboard/SnapGuides.vue
  src/components/Dashboard/TodayInstallations.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/components/Layout/AppLayout.vue
  src/services/api.ts
  src/services/dashboardKpiService.ts
  src/views/AccountsPage.vue
  src/views/Dashboard.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team, @backend-team

Router: авто-reload при chunk load fail после deploy
  src/router/index.ts
Owners: @frontend-team

Dashboard + Sidebar footer: адаптация под темную тему
  src/components/Layout/AppLayout.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Dashboard: mobile-адаптация (< 900px / < 480px)
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Dashboard + Sidebar: tablet breakpoint и mobile drawer hide
  src/components/Layout/AppLayout.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Dashboard: убраны дубли заголовка "Главная", поиск справа
  src/components/Layout/AppLayout.vue
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

Sidebar footer: компактный статус + копирайт, авто-версия из git
  src/components/Layout/AppLayout.vue
  src/utils/buildInfo.ts
  vite.config.ts
Owners: @frontend-team, @ui-team, @admin-username

Fix авто-версии и читаемость KPI-бейджа в dark-теме
  src/views/Dashboard.vue
  vite.config.ts
Owners: @frontend-team, @ui-team, @admin-username

buildInfo: hide commit hash from UI, keep accessible
  src/utils/buildInfo.ts
Owners: @frontend-team

vite: авто-перезапуск dev-сервера при изменении git HEAD
  vite.config.ts
Owners: @admin-username, @frontend-team

Accounts: разбиение монолита AccountsPage на компоненты и composables
  src/components/Accounts/AccountsFilters.vue
  src/components/Accounts/AccountsStats.vue
  src/components/Accounts/AccountsTable.vue
  src/components/Accounts/DeleteAccountDialog.vue
  src/components/Accounts/MoveAccountDialog.vue
  src/components/Accounts/ViewAccountDialog.vue
  src/composables/useAccountsExport.ts
  src/composables/useAccountsList.ts
  src/composables/useAutoRefresh.ts
  src/composables/useFiltersStorage.ts
  src/composables/useMergedAccounts.ts
  src/composables/useWialonAccounts.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix(accounts): пагинация на стр.2+ в merge-режиме (axenta+wialon)
  src/composables/useAccountsList.ts
Owners: @frontend-team

fix(accounts): сужаем multi-search до name + adminFullname
  src/composables/useAccountsList.ts
  src/composables/useMergedAccounts.ts
Owners: @frontend-team

feat(accounts): кнопка ↻ + auto-refresh stats для Wialon учёток
  src/components/Accounts/AccountsTable.vue
  src/services/settings/wialon.ts
  src/services/settingsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team, @backend-team

ui(layout): убрал дубль заголовка страницы
  src/components/Layout/AppLayout.vue
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

fix(dashboard): donut "Статус объектов" — сегменты больше не пересекаются
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

feat(accounts): создание учёток для Axenta + Wialon (WL/WH)
  src/services/settings/wialon.ts
  src/services/settingsService.ts
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @backend-team, @ui-team

fix(accounts): скрываем селектор тарифа для Wialon Local
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team

feat(accounts): автогенерация пароля Wialon + default-plan + UI улучшения
  src/components/Apple/AppleInput.vue
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team

ui(accounts): унификация формы создания учётки
  src/services/settings/wialon.ts
  src/services/settingsService.ts
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @backend-team, @ui-team

feat(accounts): тариф по умолчанию через ★ в dropdown + delete без F5
  src/views/AccountsPage.vue
  src/views/CreateAccountPage.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
