Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

/accounts заменил hardcoded localhost:8080
  src/services/accountsService.ts
Owners: @frontend-team, @backend-team

Автообновление настроено на 1 минуту
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts удаление иконок "Просмотр" и "Редактировать"
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts сброс всех фильтров
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

Жестко заданные значения 332 удалены)))
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts исправления темной темы для страницы
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

✅ Реализована функциональность настройки Axenta Cloud API
  .gitignore
  src/components/Dashboard/CurrentUserWidget.vue
  src/components/Layout/AppLayout.vue
  src/components/Settings/IntegrationsSettings.vue
  src/services/settingsService.ts
  src/views/LocalProfile.vue
  src/views/Profile.vue
Owners: @frontend-team, @ui-team, @backend-team

Проверка статуса интеграции
  AXENTA_NOTIFICATIONS_README.md
  src/components/Layout/AppLayout.vue
  src/composables/useAxentaIntegrationNotifications.ts
  src/services/settingsService.ts
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

✅ Реализована функциональность удаления учетной записи
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

✅ Реализована функциональность "Переместить учетную запись"
  MOVE_ACCOUNT_FEATURE.md
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @docs-team, @frontend-team, @backend-team, @ui-team

/accounts в меню кебаб удалил свойства и журнал
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts отображение в кебаб меню в зависимости от статуса partner/client
  src/components/Layout/AppLayout.vue
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts переименовал колонки в всплывающем меню с детальной информацией об аккаунте
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts реализован функционал "Войти в CMS" и "Войти в мониторинг с токеном другого пользователя
  LOGIN_AS_FEATURE_README.md
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @docs-team, @frontend-team, @backend-team, @ui-team

✅ очищен код от всех ошибок и предупреждений
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

добавлена База знаний с инструкциями
  src/components/Common/HelpDialog.vue
  src/components/Layout/AppLayout.vue
  src/data/helpInstructions.ts
Owners: @frontend-team, @ui-team

Справка обновлена!
  ACCOUNTS_CURRENT_STATUS.md
  ACCOUNTS_QUICK_REFERENCE.md
  ACCOUNTS_TECHNICAL_SPECS.md
  ACCOUNTS_USAGE_GUIDE.md
  HELP_SYSTEM_UPDATE.md
  src/data/helpInstructions.ts
Owners: @docs-team, @frontend-team

✅ Справка обновлена!
  HELP_SYSTEM_ACCOUNTS_UPDATE.md
  src/data/helpInstructions.ts
Owners: @docs-team, @frontend-team

✅ Подсветка поиска добавлена!
  HELP_SEARCH_HIGHLIGHTING_UPDATE.md
  src/components/Common/HelpDialog.vue
Owners: @docs-team, @frontend-team, @ui-team

добавил колонку "№" с нумерацией строк на страницу /accounts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/accounts заменил текст "Заблокирован" и "Активен" на иконки
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/users Добавлен кастомный футер с отображением total
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users Удалил выделенный блок "Список пользователей"
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users Иконки вместо текста для ролей "Партнер" и "Клиент"
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/accounts Заменено старое контекстное меню на новое выпадающее (v-menu)
  src/views/Users.vue
Owners: @frontend-team, @ui-team

Поменял в меню Пользователи и Объекты местами
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

/users Обновлен шаблон отображения даты создания
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users добавил иконку "Деактивировать/Активировать"
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users Функция активации/деактивации пользователей успешно реализована!
  src/services/usersService.ts
  src/views/Users.vue
Owners: @frontend-team, @backend-team, @ui-team

/users привел размеры иконок к единому стандарту
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users изменил опции пагинации на странице значения: 5, 10, 25, 50, 75, 100, 150
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/accounts изменил опции пагинации на странице значения: 5, 10, 25, 50, 75, 100, 150
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

/users отображается колонка "№" с номерами строк
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users убрал из меню пункты: "Просмотр" "Редактировать"
  src/views/Users.vue
Owners: @frontend-team, @ui-team

/users lj,fdbk aункциональность войти в cms/monitoring
  src/components/Users/PasswordResetDialog.vue
  src/services/usersService.ts
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

/billing 01112025_1
  src/components/Billing/ContractsTab.vue
  src/services/billingService.ts
  src/services/contractsService.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

Создана страница /contracts/create
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/router/index.ts
  src/types/contracts.ts
  src/views/Contracts.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

/contracts/create Выбранная учетная запись сохраняется и отображается в поле
  src/components/Contracts/ContractDialog.vue
  src/services/accountsService.ts
  src/services/objectsService.ts
  src/types/objects.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

/contracts/create Реализация нумераторов договоров
  src/components/Apple/AppleInput.vue
  src/components/Billing/ContractNumeratorsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/services/contractsService.ts
  src/types/billing.ts
  src/types/contracts.ts
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

/contracts/create добавил API DaData
  env.example
  src/components/Apple/AppleInput.vue
  src/components/Contracts/ContractDialog.vue
  src/services/dadataService.ts
  src/views/CreateContract.vue
Owners: @admin-username, @frontend-team, @ui-team, @backend-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
