Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

Revert "feat(login): редизайн входа — ACRM Hub split-layout"
  src/assets/providers/axenta.png
  src/assets/providers/gelios.svg
  src/assets/providers/skif.png
  src/assets/providers/wialon.svg
  src/components/AppleStyleLogin.vue
Owners: @frontend-team, @ui-team

fix(auth): auth-mode-aware login (axenta + local)
  src/context/auth.ts
Owners: @frontend-team

Reapply "feat(login): редизайн входа — ACRM Hub split-layout"
  src/assets/providers/axenta.png
  src/assets/providers/gelios.svg
  src/assets/providers/skif.png
  src/assets/providers/wialon.svg
  src/components/AppleStyleLogin.vue
Owners: @frontend-team, @ui-team

fix(login): нейтральный subtitle Hub UI
  src/components/AppleStyleLogin.vue
Owners: @frontend-team, @ui-team

feat(settings): раздел Локальные пользователи
  src/components/Settings/LocalUsersSettings.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

fix(settings): URL local-users — apiBaseUrl уже включает /api
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

fix(settings): telegram/max — fetchIntegrationsList вместо this.getIntegrationsList
  src/services/settings/max.ts
  src/services/settings/telegram.ts
Owners: @frontend-team, @backend-team

feat(settings): Edit-диалог + блок Delete для суперадмина
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

style(settings): иконки local_users в одну строку
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

feat(control-plane): SMTP-таб в ControlPanel
  src/control-plane/ControlPanel.vue
Owners: @frontend-team

feat(auth): forgot-password + change-password + welcome flow
  src/components/AppleStyleLogin.vue
  src/components/Settings/LocalUsersSettings.vue
  src/router/index.ts
  src/views/Profile.vue
  src/views/ResetPassword.vue
Owners: @frontend-team, @ui-team

feat(settings): История событий по local-user (timeline)
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

style(settings): компактная таблица local_users (без прокрутки)
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

fix(settings): local_users таблица без горизонтального скролла
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

fix(settings): убрать пустоты в local_users таблице
  src/components/Settings/LocalUsersSettings.vue
Owners: @frontend-team, @ui-team

feat(accounts/users): «Войти в мониторинг (полный доступ)» для Axenta
  src/components/Accounts/AccountsTable.vue
  src/components/Users/UsersTable.vue
  src/composables/useUserActions.ts
  src/services/accountsService.ts
  src/views/AccountsPage.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team, @backend-team

fix(ui): «Полный доступ» строго для Axenta-источника
  src/components/Accounts/AccountsTable.vue
  src/components/Users/UsersTable.vue
Owners: @frontend-team, @ui-team

fix(accounts): clearBlockingDatetime через backend-proxy
  src/services/accountsService.ts
Owners: @frontend-team, @backend-team

feat(dashboard): tooltip с per-source breakdown на «Выручка месяц»
  src/services/dashboardKpiService.ts
  src/views/Dashboard.vue
Owners: @frontend-team, @backend-team, @ui-team

fix(dashboard): убрать revenue spark card из карусели «Объекты и Выручка»
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

fix(dashboard): tile label «Выручка месяц» → «Начислено за месяц»
  src/views/Dashboard.vue
Owners: @frontend-team, @ui-team

fix(layout): убрать пункт «Войти в мониторинг» из user dropdown
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

feat(layout): user-dropdown показывает все подключённые системы (SKIF + GELIOS)
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

fix(layout): убрать блок «Информация об аккаунте» из user-dropdown
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

fix(layout): убрать «Настройки» из user-dropdown
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

feat(layout): Axenta в user-dropdown — все 4 системы видны
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

fix(layout): user-dropdown — логин вместо имени для Axenta+SKIF
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

fix(layout): Axenta-login из /auth/axenta-credentials (не auth.user.username)
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

fix(audit): 401 на /audit/logs под AUTH_MODE=local
  src/components/Settings/AuditLogs.vue
  src/services/audit.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(audit): 401 на /audit/logs под AUTH_MODE=local (#1)
  src/components/Settings/AuditLogs.vue
  src/services/audit.ts
Owners: @frontend-team, @ui-team, @backend-team

feat(contracts): фильтр «GPS-система» (Axenta/Wialon/SKIF/GELIOS)
  src/types/contracts.ts
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

feat(contracts): фильтр «GPS-система» (Axenta/Wialon/SKIF/GELIOS) (#2)
  src/types/contracts.ts
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

fix(contracts): фильтр GPS-системы — в ContractsSimple.vue (реальный /contracts)
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

fix(contracts): фильтр GPS-системы — в ContractsSimple.vue (реальный /contracts) (#3)
  src/views/ContractsSimple.vue
Owners: @frontend-team, @ui-team

feat(search): 6 групп + Б24-style scope-chips в глобальном поиске
  src/components/GlobalSearch.vue
  src/services/dashboardKpiService.ts
Owners: @frontend-team, @ui-team, @backend-team

fix(search): per-group limit 8 → 15
  src/components/GlobalSearch.vue
Owners: @frontend-team, @ui-team

fix(search): dropdown не закрывается при blur от посторонних события
  src/components/GlobalSearch.vue
Owners: @frontend-team, @ui-team

fix(search): auto re-focus input при системном blur с активным query
  src/components/GlobalSearch.vue
Owners: @frontend-team, @ui-team

fix(search): defensive default — нормализуем null в массивы
  src/services/dashboardKpiService.ts
Owners: @frontend-team, @backend-team

fix(users+contracts): применять ?search= query-param при загрузке страницы
  src/views/ContractsSimple.vue
  src/views/Users.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
