Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

fix: Ленивая загрузка (Progressive Loading)
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: пагинация /billing
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Реализована возможность ручного запроса данных за любой период времени из Axenta на странице /settings в разделе «История снимков».
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

При выборе типа "Партнер" автоматически устанавливается тип скидки "Автоматическая"
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Trash: Добавлена поддержка удаления и восстановления подписок
  src/components/Settings/Trash.vue
Owners: @frontend-team, @ui-team

Добавлено сохранение и восстановление выбранного пункта меню в настройках
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

поиск на странице /billing во вкладках "Подписки" и "Счета".
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Обновлена логика: начальная дата всегда устанавливается на первый день текущего месяца.
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: статистика партнера
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Исправлена проблема с часовым поясом.
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: Backend period_days
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Период по умолчанию — от начала месяца до сегодняшнего дня включительно.
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Счета: "Обработка платежа"
  src/services/billingService.ts
  src/views/Billing.vue
Owners: @frontend-team, @backend-team, @ui-team

Счета: регистрация платежей
  src/components/Billing/BillingMetricDetailDialog.vue
  src/components/Billing/ContractsTab.vue
  src/components/Billing/ManualPaymentDialog.vue
  src/services/billingService.ts
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

запрос снимков+удаление статистики
  src/components/Admin/SnapshotJobsHistory.vue
  src/components/Settings/AutoRefreshSettings.vue
Owners: @frontend-team, @ui-team

Функция formatDateTime использует часовой пояс из настроек компании
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

Новая колонка "Дата снимка" в таблице истории снимков
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

Проверка наличия часового пояса в строке (Z, +, или смещение).
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

все время теперь в UTC
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

fix: История снимков
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

Добавлена пагинация в функцию getPartnerObjectsCountFromAccount
  src/services/dadataService.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

fix: scheduled_time
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

утилита для исправления снимков всех партнеров
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: исправлены тесты и добавлено создание billing_start при загрузке объектов
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

Добавлены недостающие часовые пояса: UTC+0, UTC+1, Калининград UTC+2
  src/components/Settings/SystemSettingsForm.vue
  src/types/companies.ts
  src/types/settings.ts
Owners: @frontend-team, @ui-team

Реализован сервис BillingSnapshotService с пересчетом истории
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

В таблице отображается период (начало - конец) без времени
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

fix: поиск в догворах
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

/billing аблица будет показывать выбранное количество
  package-lock.json
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

/billing аблица будет показывать выбранное количество
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

добавил md_wialon-dlya-razrabotchikov
  docs/wialon-dlya-razrabotchikov.md
Owners: none

добавлена интеграция Wialon Hosting
  src/components/Layout/AppLayout.vue
  src/components/Settings/IntegrationsSettings.vue
  src/router/index.ts
  src/services/settingsService.ts
  src/services/wialonApi.ts
  src/types/settings.ts
  src/views/AccountsPage.vue
  src/views/Objects.vue
  src/views/Users.vue
  src/views/WialonCallbackPage.vue
Owners: @frontend-team, @ui-team, @backend-team

поддержка больших УЗ 13К+
  package-lock.json
  package.json
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Layout/AppLayout.vue
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/WialonConnectionsSettings.vue
  src/main.ts
  src/services/accountsService.ts
  src/services/settingsService.ts
  src/services/wialonApi.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team, @backend-team

Все TypeScript ошибки в AppLayout.vue исправлены
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

WialonConnectionsSettings.vue
  src/components/Settings/WialonConnectionsSettings.vue
Owners: @frontend-team, @ui-team

Cache-First + Lazy Loading Optimization
  package-lock.json
  package.json
  src/services/wialonCacheService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

экспорт в эксель УЗ
  src/services/accountsService.ts
  src/views/AccountsPage.vue
Owners: @frontend-team, @backend-team, @ui-team

добавлен FAB в учетные записи и объекты
  src/components/Apple/AppleFAB.vue
  src/components/Apple/index.ts
  src/views/AccountsPage.vue
  src/views/Objects.vue
Owners: @frontend-team, @ui-team

УЗ:Сохранение фильтра "Система"
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

Экспорт: полноценный Excel файл (.xlsx)
  package-lock.json
  package.json
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
