Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏

В сервисе (novaconnectService.ts)Добавлеы массовые действия
  src/components/Warehouse/SimCardsList.vue
  src/services/novaconnectService.ts
Owners: @frontend-team, @ui-team, @backend-team

бновлена пагинация в списке SIM-карт по образцу страницы /users.
  src/components/Warehouse/SimCardsList.vue
Owners: @frontend-team, @ui-team

При создании договора через /contracts/create статус по умолчанию — "Активный" (active).
  src/services/billingService.ts
  src/services/contractsService.ts
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @backend-team, @ui-team

Реализована автоматическая пролонгация месячных договоров.
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Добавлена подсказка при наведении на колонку "Период".
  src/components/Billing/ContractsTab.vue
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Заменены большие секции на компактные плитки: Нумераторы договоров, Нумераторы счетов, Тарифные планы
  src/components/Billing/SubscriptionWizard.vue
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Ввыбор учетной записи перенесен из /contracts/create в подписки как отдельный шаг
  src/components/Billing/SubscriptionWizard.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

реализовал новую логику управления договрами 1 этап
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Теперь в колонке "Клиент" отображается только название клиента, без дублирования и без префикса
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Мастер создания подписки 1-2 Шаг
  src/components/Billing/SubscriptionWizard.vue
Owners: @frontend-team, @ui-team

добавил гибкую систему управления временем начала подписок
  src/components/Billing/SubscriptionWizard.vue
  src/services/billingService.ts
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

Исправил ошибку при создании договоров на продакшене
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Договор создается → период НЕ установлен (обе даты пустые)
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Исправленная логика периодов биллинга
  src/components/Billing/SubscriptionWizard.vue
Owners: @frontend-team, @ui-team

Проблема исправлена: добавлена колонка contract_id в таблицу subscriptions и создан индекс
  src/components/Billing/SubscriptionWizard.vue
Owners: @frontend-team, @ui-team

настройка НДС+создание подписки
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
  src/components/Contracts/ContractObjectsDialog.vue
  src/components/Settings/ObjectTemplates.vue
  src/components/Settings/ReportTemplates.vue
  src/components/Settings/SystemSettingsForm.vue
  src/components/Settings/TemplatesSettings.vue
  src/components/Settings/UserTemplates.vue
  src/composables/useTemplateSystems.ts
  src/router/index.ts
  src/services/contractsService.ts
  src/services/settingsService.ts
  src/types/billing.ts
  src/types/settings.ts
  src/utils/templateParser.ts
  src/views/Billing.vue
  src/views/TemplateObjectsPage.vue
  src/views/TemplateReportsPage.vue
  src/views/TemplateUsersPage.vue
Owners: @frontend-team, @ui-team, @backend-team

автообновление в списке договоров (даты, статус, тарифный план и т.д.)
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

оптимизировал страницу создания договора (/contracts/create), уменьшив все отступы и размеры элементов
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

реализована генерация счетов в биллинге
  src/services/billingService.ts
  src/services/invoiceNumeratorsService.ts
  src/views/Billing.vue
Owners: @frontend-team, @backend-team, @ui-team

добавлена нумераци строк Договора, Подписки, Счета
  src/components/Billing/ContractsTab.vue
  src/types/billing.ts
  src/types/contracts.ts
  src/views/Billing.vue
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

DashboardGrid.vue Изменено значение по умолчанию с 300 на 60 секунд
  src/components/Dashboard/DashboardGrid.vue
  src/services/dashboardService.ts
  src/services/mockDashboardData.ts
  src/services/objectsService.ts
  src/views/Objects.vue
Owners: @frontend-team, @ui-team, @backend-team

добавлена функциональность перетаскивания элементов списка настроек.
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

Пакет audit /backend_axenta/audit/
  AUDIT_FRONTEND_ACCESS.md
  src/components/Settings/AuditLogs.vue
  src/services/audit.ts
  src/views/Settings.vue
Owners: @docs-team, @frontend-team, @ui-team, @backend-team

Добавлено поле "Сокращенное название с ОПФ" в форму создания договора
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
  src/components/Contracts/ContractDialog.vue
  src/services/dadataService.ts
  src/types/contracts.ts
  src/views/Billing.vue
  src/views/Contracts.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

Добавлена колонка client_short_name
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

аменил "Дата создания" на "Дата" в подписках и договорах
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

добавлен MAX Messenger в систему уведомлений
  src/components/Billing/ContractsTab.vue
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/NotificationsSettings.vue
  src/services/billingService.ts
  src/services/settingsService.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

Интеграция с SMTP сервером для отправки email уведомлений
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/NotificationsSettings.vue
  src/services/settingsService.ts
Owners: @frontend-team, @ui-team, @backend-team

Отправка счетов на почту восстановлена! 🎉
  src/components/Billing/SendInvoiceDialog.vue
  src/components/Settings/IntegrationsSettings.vue
  src/services/billingService.ts
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

добавлена функция редактирования договора
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/router/index.ts
  src/types/contracts.ts
  src/views/Contracts.vue
  src/views/CreateContract.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

Оптимизация списка в разделе Подписки
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

в таблице счетов будет отображаться сокращённое название с ОПФ.
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

при клике на клиента в таблице счетов пользователь будет перенаправлен на вкладку подписок
  src/components/Billing/SendInvoiceDialog.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Фильтр родительских аккаунтов теперь загружает только партнеров
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

Обновлен dashboardService для получения реальных данных биллинга вместо демо-данных
  src/services/dashboardService.ts
Owners: @frontend-team, @backend-team

Удалена иконка «Создать договор» на странице /accounts.
  src/views/AccountsPage.vue
Owners: @frontend-team, @ui-team

Удалены демо-данные из раздела "Тенденции"
  src/components/Dashboard/BillingOverviewWidget.vue
Owners: @frontend-team, @ui-team

Frontend (dashboardService.ts)
  src/components/Dashboard/RecentActivityWidget.vue
  src/services/dashboardService.ts
  src/types/dashboard.ts
Owners: @frontend-team, @ui-team, @backend-team

обновленный блок метрик
  src/components/Billing/BillingMetricDetailDialog.vue
  src/components/Billing/BillingStatCard.vue
  src/components/Billing/ContractsTab.vue
  src/router/index.ts
  src/services/accountsService.ts
  src/services/billingService.ts
  src/services/contractsService.ts
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

заменил "Статистика пользователей" на "Статистика Учетные записи" на странице /dashboard.
  src/components/Dashboard/AccountsOverviewWidget.vue
  src/components/Dashboard/DashboardGrid.vue
  src/services/dashboardService.ts
  src/services/mockDashboardData.ts
  src/store/dashboard.ts
  src/types/dashboard.ts
Owners: @frontend-team, @ui-team, @backend-team
