Repository novaconnectkz/frontend_axenta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-username, @frontend-team, @ui-team, @backend-team, @docs-team, @qa-team

Последняя активность
  src/services/dashboardService.ts
Owners: @frontend-team, @backend-team

Страница /activity успешно настроена
  src/router/index.ts
  src/services/performanceService.ts
  src/views/Activity.vue
Owners: @frontend-team, @backend-team, @ui-team

добавлен Автопилот+телеграмм
  src/components/Billing/AutopilotInvoiceOfferDialog.vue
  src/components/Billing/AutopilotSendInvoiceOfferDialog.vue
  src/components/Billing/AutopilotSubscriptionOfferDialog.vue
  src/components/Billing/ContractNumeratorsTab.vue
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SendInvoiceDialog.vue
  src/components/Billing/SubscriptionWizard.vue
  src/components/Companies/CompanyDialog.vue
  src/components/Companies/CompanyViewDialog.vue
  src/components/Settings/IntegrationsSettings.vue
  src/components/Settings/SystemSettingsForm.vue
  src/composables/useAutopilot.ts
  src/services/billingService.ts
  src/services/settingsService.ts
  src/types/billing.ts
  src/types/companies.ts
  src/types/settings.ts
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

Изменил загрузку на последовательную: Нумератор
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

✅ Фронтенд обновлен с расширенным логированием!
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Улучшенная обработка ошибок 401
  src/components/AppleStyleLogin.vue
  src/context/auth.ts
  src/services/objectsService.ts
  src/utils/tokenDebug.ts
Owners: @frontend-team, @ui-team, @backend-team

функционал для отображения информации о множественных тарифах в колонке "Тариф" таблицы договоров.
  MULTIPLE_TARIFFS_DISPLAY.md
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
  src/views/Contracts.vue
Owners: @docs-team, @frontend-team, @ui-team

детализации расчета стоимости договора с разбивкой по месяцам.
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Добавил новые периоды биллинга: часовой, дневной и недельный.
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

применил новые миграции
  src/components/Billing/ContractsTab.vue
  src/components/Settings/AuditLogs.vue
  src/services/audit.ts
  src/services/performanceService.ts
Owners: @frontend-team, @ui-team, @backend-team

Убрано поле выбора валюты из формы создания тарифного плана
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

GetContractBillingBreakdown (детализация расчёта) Для годовых тарифов
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

лучшена загрузка Dashboard
  src/components/Dashboard/AccountsOverviewWidget.vue
  src/components/Dashboard/BaseWidget.vue
  src/components/Dashboard/BillingOverviewWidget.vue
  src/components/Dashboard/InstallationsOverviewWidget.vue
  src/components/Dashboard/ObjectsOverviewWidget.vue
  src/components/Dashboard/RecentActivityWidget.vue
  src/components/Dashboard/UsersOverviewWidget.vue
  src/components/Dashboard/WarehouseOverviewWidget.vue
  src/config/timeouts.ts
  src/services/dashboardService.ts
  src/store/dashboard.ts
  src/utils/apiRetry.ts
Owners: @frontend-team, @ui-team, @backend-team

Обновил функцию goToCMS - теперь она использует метод loginAs из accountsService, который генерирует специальный URL для входа в CMS с токеном текущего пользователя
  src/components/Layout/AppLayout.vue
Owners: @frontend-team, @ui-team

Обновлена логика генерации счета для передачи custom_amount
  src/types/billing.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

При удалении подписки объекты переводятся в статус inactive
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
  src/services/billingService.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team, @backend-team

/settings добавлена "Корзина"
  src/components/Settings/Trash.vue
  src/services/trashService.ts
  src/types/index.ts
  src/types/trash.ts
  src/views/Settings.vue
Owners: @frontend-team, @ui-team, @backend-team

Добавлена проверка наличия приложений перед расчетом стоимости
  src/components/Billing/ContractsTab.vue
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

создал /billing меню kebab (три вертикальные точки) и переместил туда кнопки "Редактировать" и "Удалить".
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Добавил кнопки создания "подписки" и "счета"
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Исправил поиск договоров в мастере создания подписки
  src/components/Billing/ContractsTab.vue
  src/components/Billing/SubscriptionWizard.vue
Owners: @frontend-team, @ui-team

Добавлен партнерский договор
  src/components/Billing/ContractsTab.vue
  src/services/companiesService.ts
  src/types/contracts.ts
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team, @backend-team

fix: заменены hardcoded localhost URL на config.apiBaseUrl в ContractsTab.vue
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: добавлен finally блок в createTestSnapshot
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Добавление фильтра &is_active=true в запрос к Axenta Cloud API
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Проблема с постоянно меняющимся количеством объектов (1152/1153/1154/1155)
  src/components/Billing/ContractsTab.vue
  src/utils/cacheService.ts
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

Всплывающий список объектов убран для партнерских договоров
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
Owners: @frontend-team, @ui-team

API для генерации снимков за период
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

fix: partner contract
  src/components/Billing/ContractsTab.vue
  src/types/contracts.ts
  src/views/Billing.vue
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

fix: создание договра
  src/views/Billing.vue
  src/views/EditContract.vue
Owners: @frontend-team, @ui-team

Изменения таймаутов: Backend - HTTP клиент для Axenta Cloud API
  src/config/env.ts
  src/context/auth.ts
  src/services/accountsService.ts
  src/services/api.ts
Owners: @frontend-team, @backend-team

fix: Статистика партнерского договора
  docs/viewing_snapshot_jobs.md
  src/components/Admin/SnapshotJobsHistory.vue
  src/components/Billing/ContractsTab.vue
  src/components/Contracts/ContractDialog.vue
  src/types/contracts.ts
  src/views/CreateContract.vue
  src/views/EditContract.vue
  src/views/Settings.vue
Owners: @frontend-team, @ui-team

Создание договора: Запрос всех партнеров без ограничения
  src/views/CreateContract.vue
Owners: @frontend-team, @ui-team

Добавлена сортировка по умолчанию - сверху самые новые созданные договоры
  src/components/Billing/BillingStatCard.vue
  src/components/Billing/ContractsTab.vue
  src/views/Billing.vue
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

ИСПРАВЛЕНО: Итоговая сумма видна в темной теме!
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

Добавлена статистика объектов в историю снимков
  src/components/Admin/SnapshotJobsHistory.vue
Owners: @frontend-team, @ui-team

/billing Партнерские договоры показывают только количество объектов
  src/components/Billing/ContractsTab.vue
  src/types/contracts.ts
  src/views/Contracts.vue
Owners: @frontend-team, @ui-team

/billing Для партнерских договоров - показывается только число
  src/components/Billing/ContractsTab.vue
  src/types/contracts.ts
Owners: @frontend-team, @ui-team

/billing Реализована Ленивая загрузка (Progressive Loading)
  src/__tests__/contracts.e2e.test.ts
  src/components/Billing/ContractsTab.vue
  src/services/contractsService.ts
  src/views/Billing.vue
Owners: @frontend-team, @qa-team, @ui-team, @backend-team

fix:Реализована Ленивая загрузка (Progressive Loading)
  src/components/Billing/ContractsTab.vue
Owners: @frontend-team, @ui-team

.github/CODEOWNERS:

# CODEOWNERS –¥–ª—è Axenta CRM Frontend
# –≠—Ç–æ—Ç —Ñ–∞–π–ª –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –≤–ª–∞–¥–µ–ª—å—Ü–µ–≤ –∫–æ–¥–∞ –¥–ª—è —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —á–∞—Å—Ç–µ–π –ø—Ä–æ–µ–∫—Ç–∞
# –ü–æ–¥—Ä–æ–±–Ω–µ–µ: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# –ì–ª–æ–±–∞–ª—å–Ω—ã–µ –≤–ª–∞–¥–µ–ª—å—Ü—ã (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
# * @owner-username

# =============================================================================
# üö´ –ö–†–ò–¢–ò–ß–ï–°–ö–ò –í–ê–ñ–ù–´–ï –§–ê–ô–õ–´ - –¢–û–õ–¨–ö–û –ê–î–ú–ò–ù–ò–°–¢–†–ê–¢–û–†–´
# =============================================================================

# GitHub Workflows - –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è –∑–∞—â–∏—Ç–∞
/.github/workflows/ @admin-username
/.github/workflows/* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è GitHub
/.github/ @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã –¥–µ–ø–ª–æ—è
/deploy*.sh @admin-username
/deploy*.yml @admin-username
/*deploy*.sh @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è –æ–∫—Ä—É–∂–µ–Ω–∏—è
/.env* @admin-username
/env.* @admin-username

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–±–æ—Ä–∫–∏
/vite.config.ts @admin-username @frontend-team
/tsconfig*.json @admin-username @frontend-team
/package.json @frontend-team
/package-lock.json @frontend-team

# =============================================================================
# üìã –û–°–ù–û–í–ù–´–ï –ö–û–ú–ü–û–ù–ï–ù–¢–´
# =============================================================================

# –ò—Å—Ö–æ–¥–Ω—ã–π –∫–æ–¥ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è
/src/ @frontend-team

# Vue –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã
/src/components/ @frontend-team @ui-team
/src/views/ @frontend-team @ui-team

# –†–æ—É—Ç–∏–Ω–≥
/src/router/ @frontend-team

# –°–æ—Å—Ç–æ—è–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è (Pinia/Vuex)
/src/stores/ @frontend-team

# API –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è
/src/services/ @frontend-team @backend-team
/src/api/ @frontend-team @backend-team

# –£—Ç–∏–ª–∏—Ç—ã –∏ —Ö–µ–ª–ø–µ—Ä—ã
/src/utils/ @frontend-team

# –°—Ç–∏–ª–∏
/src/assets/ @frontend-team @ui-team
/src/styles/ @frontend-team @ui-team

# =============================================================================
# üìö –î–û–ö–£–ú–ï–ù–¢–ê–¶–ò–Ø
# =============================================================================

# README —Ñ–∞–π–ª—ã
/*README.md @docs-team
/**/*README.md @docs-team

# –î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è
/*.md @docs-team

# –°—Ç–∞–Ω–¥–∞—Ä—Ç—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏
/vue-standards.mdc @frontend-team @docs-team

# =============================================================================
# üß™ –¢–ï–°–¢–ò–†–û–í–ê–ù–ò–ï
# =============================================================================

# –¢–µ—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã
/**/*.test.* @frontend-team @qa-team
/**/*.spec.* @frontend-team @qa-team
/tests/ @frontend-team @qa-team

# =============================================================================
# üîß –ò–ù–§–†–ê–°–¢–†–£–ö–¢–£–†–ê
# =============================================================================

# –ü—É–±–ª–∏—á–Ω—ã–µ —Ñ–∞–π–ª—ã
/public/ @frontend-team

# –°–∫—Ä–∏–ø—Ç—ã
/scripts/ @frontend-team

# –ö–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏—è —Å–µ—Ä–≤–µ—Ä–∞
/index.html @frontend-team

# =============================================================================
# üìù –ü–†–ò–ú–ï–ß–ê–ù–ò–Ø
# =============================================================================

# –ß—Ç–æ–±—ã –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å –∑–∞—â–∏—Ç—É CODEOWNERS:
# 1. –ü–µ—Ä–µ–π–¥–∏—Ç–µ –≤ Settings -> Branches
# 2. –î–æ–±–∞–≤—å—Ç–µ –∏–ª–∏ –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä—É–π—Ç–µ branch protection rule –¥–ª—è main
# 3. –í–∫–ª—é—á–∏—Ç–µ "Require review from CODEOWNERS"
# 4. –í–∫–ª—é—á–∏—Ç–µ "Include administrators" –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∑–∞—â–∏—Ç—ã

# –ó–∞–º–µ–Ω–∏—Ç–µ placeholder'—ã –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ GitHub username'—ã:
# @admin-username     - –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä –ø—Ä–æ–µ–∫—Ç–∞
# @frontend-team      - –∫–æ–º–∞–Ω–¥–∞ frontend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @backend-team       - –∫–æ–º–∞–Ω–¥–∞ backend —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤
# @ui-team            - –∫–æ–º–∞–Ω–¥–∞ UI/UX –¥–∏–∑–∞–π–Ω–µ—Ä–æ–≤
# @qa-team            - –∫–æ–º–∞–Ω–¥–∞ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏—è
# @docs-team          - –∫–æ–º–∞–Ω–¥–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏–∏
